AI_CODER_DEFAULT_CHAT_API_KEY=
AI_CODER_DEFAULT_CHAT_BASE_URL=
AI_CODER_DEFAULT_CHAT_MODEL=

AI_CODER_DEFAULT_EMBEDDING_API_KEY=
AI_CODER_DEFAULT_EMBEDDING_BASE_URL=
AI_CODER_DEFAULT_EMBEDDING_MODEL=text-embedding-3-small
